# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

# 깃에 표시되는 언어 설정 HTML제외
*.html linguist-detectable=false 